<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>

<body>
    <div style="max-width: 90%;margin-right:auto; margin-left: auto; margin-top: 30px;">
        <div style="display: flex;flex-direction: column;">
            <div">
                <span style="font-size: 20px; font-weight: 500;">JWT Project</span>
        </div>

        <hr style="width:50%;text-align:left;margin-left:0" />

        <div>
            Hello, We're received a request to reset the password for JWT-Project account associated
            with <b>{{email}}</b>
            <div class="add-space" style="padding: 10px 0;"></div>
            No changes have been made to your account yet.
            <div class="add-space" style="padding: 10px 0;"></div>
            You can reset you password by using the following OTP: <b>{{otp}}</b>
            <div class="add-space" style="padding: 10px 0;"></div>
            if you did not request a new password, please let us know immediatedly by replying to this email.
            <div class="add-space" style="padding: 10px 0;"></div>
            --- lamvinhkien ---
        </div>
    </div>
    </div>

</body>

</html>